/* Page update option */
.page_refresh_time_options{
    position:relative;
    float:right;
}

.pannel_head > * {
    display: inline-block;
}


.small_select {
    height: 20px;
    line-height: 20px;
    padding: 0px 10px;
}

/* Checks table */
.checks_table_body {
    display: inline-block;
}

.checks_table_header{
    display: table-header-group;
}

.checks_row .checks_head_row{
    display:table-row;
}

.checks_head_row:after {
    content: "";
    display: block;
    border-bottom: 2px solid #ccc;
}

.checks_row:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
}

.checks_table{
    display:table;
    table-layout:fixed;
    width:100%;
}

.check_cell {
    float:left;
    display:table-cell;
    vertical-align:top;
    margin: 1.0rem 1.0rem 1.0rem 0.0rem;
}



.check_button_cell {
    float:left;
    display:table-cell;
    margin: 1.0rem 1.0rem 1.0rem 0.0rem;
    width: 12.0rem;
}

.check_switch_button {
    padding:0px;
}
#check_status{
    width: 5.0rem
}

#check_reference{
    width: 14.0rem
}

#check_reference_by_user{
    width: 14.0rem
}

#check_endpoint{
    width: 75.0rem
}

#check_button_on_off{
    margin: 1.0rem 1.0rem 1.0rem 0.0rem;
}

#check_button_configure{
    margin: 1.0rem 1.0rem 1.0rem 0.0rem;
}



